html, body{
    padding: 0;
    margin: 0;
}
p,h1.h2,h3,li,.roojo {
    font-family: Arial, sans-serif;
}


h1 { color: whitesmoke;
    font-family: Arial, sans-serif;
}
#caja > .roojo{ 
        color: #e63946;
        font-family: Arial, sans-serif;
}

h2{color: whitesmoke;
    font-family: Arial, sans-serif;
    font-weight: 300;
}
#caja > p{color: whitesmoke;}


header{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    
    background-color: #1b1b2f;
}
ul{
    display: flex;
    gap: 20px;
    color: whitesmoke;
    list-style: none;
}

#logo{
    width: auto;
    height: 40px;
}

#Banner{
    display: flex;
    flex-direction: column;
    background-image: url(imagenes/banner.png);
    background-size: cover;

    min-height: 600px;

}
#caja {
    padding-top: 75px;
    padding-left: 100px;

}

button{
    border-radius: 50px;
    background-color: #e63946;
    width: 150px;
    height: 35px;
    color: whitesmoke;
    border: none;
}
#Recienllegados{
    display:  flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    align-content: center;

    background-color: #f4f1ea;
    
}

#galeria{
    display: flex;
    gap: 50px ;
}

img{
    height: 250px;
    width:auto ;
    border-radius: 10px;
}

#galeria >  div{
    background-color: white;
    border-radius: 10px;

    align-items: center;
    justify-content: center;
    
}

.titulo,.categoria, strong{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}







